.login-form-container {
    width: 100%;
    height: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login-form .explanation {
    text-align: center;
}

.filed-block input {
    width: 300px;   
}