.chat-item {
    width: 100%;
    height: 72px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: inherit;
    border-bottom: 1px solid #384c59;
    transition: background-color .1s linear;
}

.chat-item.selected {
    background-color: #2d3e49;
    
}

.chat-item:hover {
    background-color: #384c59;
}

.chat-name { 
    letter-spacing: 1px;
    color: white;
}